node_modules
dist/.icon-ico
dist/win-unpacked
dist/builder-effective-config.yaml
package-lock.json
yarn.lock
.env

dist/linux-unpacked
dist/builder-effective-config.yaml
dist/latest-linux.yml
dist/multi-export_0.1.0_amd64.snap